/*coolors.co/083d77-ebebd3-f4d35e-a3d9ff-7e6b8f*/

$fa-font-path: './fontawesome/webfonts';
$main-font: 'Roboto', sans-serif;

$primaryColor: #083D77;
$accentColor: #F4D35E;
$onPrimary: #EBEBD3;
$onSecondary: #083D77;

$title: 96px;