/*coolors.co/083d77-ebebd3-f4d35e-a3d9ff-7e6b8f*/

$fa-font-path: "./fontawesome/webfonts";
$main-font: "Noto, mono";

$lightGrey: #a0a0a0;
$dark: #000000;

$primaryColor: #264653;
$primaryLight: #2a9d8f;
$accentColor: #f4d35e;
$secondColor: #81c14b;
$sweg: #4dbe31;
$onPrimary: #ebebd3;
$onSecondary: #0b0a07;
$onAccentColor: #0b0a07;

$select-background: red;
$select-color: blue;

$title: 40px;
$subtitle: 28px;
$content: 22px;
$medium-content: 18px;
$small-content: 16px;
