/*coolors.co/083d77-ebebd3-f4d35e-a3d9ff-7e6b8f*/

$fa-font-path: './fontawesome/webfonts';
$main-font: 'Roboto', sans-serif;

$lightGrey: #a0a0a0;
$dark: #000000;

$primaryColor: #264653;
$primaryLight: #2A9D8F;
$accentColor: #F4D35E;
$secondColor: #81C14B;
$onPrimary: #EBEBD3;
$onSecondary: #0b0a07;
$onAccentColor: #0b0a07;

$select-background: red;
$select-color: #81C14B;

$title: 40px;
$subtitle: 32px;
$content: 22px;
$small-content: 16px;