@import '_variables.scss';

@import './fontawesome/scss/fontawesome.scss';
@import './fontawesome/scss/solid.scss';
@import './fontawesome/scss/regular.scss';

head {
    border: solide 1px black;
}

body {
    border: solide 1px black;
    background-color: $primaryColor;
    color: $onPrimary;
}

h1 {
    color: $onPrimary;
}

h2 {
    color: $onPrimary;
}

div {
	color: $onPrimary;
	font-size: $content;
}

.li-link {
    font-size: $subtitle;
}

.container {
    margin: 0 auto;
    padding: 10px;

    @media (min-width: 768px) {
      width: 750px;
    }
    @media (min-width: 992px) {
      width: 970px;
    }
    @media (min-width: 1200px) {
      width: 1170px;
    }
  }