@import '_variables.scss';

@import './fontawesome/scss/fontawesome.scss';
@import './fontawesome/scss/solid.scss';
@import './fontawesome/scss/regular.scss';

body {
    background-color: $primaryColor;
    color: $onPrimary;
    font: normal $content $main-font;

}

h1, h2 {
    color: $onPrimary;
}


div {
	font-size: $content;
}

.li-link {
    font-size: $subtitle;
}

.container {
    margin: 0 auto;
    padding: 10px;

    @media (min-width: 768px) {
      width: 750px;
    }
    @media (min-width: 992px) {
      width: 970px;
    }
    @media (min-width: 1200px) {
      width: 1170px;
    }
  }