@import '_variables.scss';

@import './fontawesome/scss/fontawesome.scss';
@import './fontawesome/scss/solid.scss';
@import './fontawesome/scss/regular.scss';

head {
    border: solide 1px black;
}

body {
    border: solide 1px black;
    background-color: $primaryColor;
    color: $onPrimary;
}

h1 {
    color: $onPrimary;
}

h2 {
    color: $onPrimary;
}